{{!Citation for the following function:
//Date: 05/22/2024
//Based on 
//Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/}}

<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Aldine High School</title>
    
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>
    <a href="/">Homepage</a>
    <a href="/#">Students</a>
    <a href="/teachers">Teachers</a>
    <a href="/#">Classes</a>
    <a href="/#">Enrollments</a>
    <a href="/#">Tests</a>
    <a href="/#">Disciplinary Incidents</a>
    {{{body}}}

</body>
</html>